{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}

{% block content %}
    <div class="products">
        {% for product in products %}
            <div class="product_block">
                {% if product.image %}
                    <img src="/media/{{ product.image }}" alt="image">
                {% else %}
                    <img src="{% static 'default.jpg' %}" alt="image">
                {% endif %}
                <h5>{{ product.title }}</h5>
                <h4>Price: {{ product.price }}</h4>
                <a href="/products/{{ product.id }}" class="card-link">More</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}